@model Mvc2Hockey.ViewModels.PlayerViewModel
@{
    ViewData["Title"] = "PlayerDetail";
}
Few
<h1>PlayerDetail</h1>
<table>

    <thead>
        <tr>
           
            <th scope="col">Name</th>
            <th scope="col">Jersey Number</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
          
            <td>@Model.Name</td>
            <td>@Model.JerseyNumber</td>

        </tr>
    </tbody>
</table>



